<ion-content>
  <app-bg-interfaces></app-bg-interfaces>
<div class="title">
    <div class="body">
        <div class="header">
          <b><span>RANKING</span></b>
        </div>
        <div class="h_img">
            <div class="h_one">
              <div class="zi_one">
                 <b>#2</b>
              </div>
                <div>
                  <div class="h_tou">
                  </div>
                  <span class="sp">sdsasadas</span>
                </div>
            </div>
            <div class="h_two">
              <div class="zi_two">
                  <img src="../../assets/image/dashboard/Vector-1.svg" alt="">
              </div>
              <div>
                <div class="h_tou">
                </div>
                <span class="sp">sdsasadas</span>
              </div>
            </div>
            <div class="h_hhh">
              <div class="zi_hhh">
                <b>#3</b>
             </div>
              <div>
                <div class="h_tou">
                </div>
                <span class="sp">sdsasadas</span>
              </div>
            </div>
        </div>

        <div class="text">
            <div class="ttext">
                <div>#1</div>&emsp;&emsp;<div class="t_img"></div><div class="zi">ELEAOR PENA</div>
            </div>
            <div class="ttext">
              <div>#1</div>&emsp;&emsp;<div class="t_img"></div><div class="zi">ELEAOR PENA</div>
          </div>
          <div class="ttext">
            <div>#1</div>&emsp;&emsp;<div class="t_img"></div><div class="zi">ELEAOR PENA</div>
        </div>
        <div class="ttext">
          <div>#1</div>&emsp;&emsp;<div class="t_img"></div><div class="zi">ELEAOR PENA</div>
      </div>
      <div class="ttext">
        <div>#1</div>&emsp;&emsp;<div class="t_img"></div><div class="zi">ELEAOR PENA</div>
    </div>
        </div>
    </div>
</div>

<app-navbar></app-navbar>
</ion-content>
