<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <app-back></app-back>


  <div class="title">Lunch</div>

  <div class="cards">
    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/lunch1.svg" alt="lunch-img">
        <ion-card-title>Noodles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Noodles are rich in carbohydrates, which can provide enough energy.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/lunch2.svg" alt="lunch-img">
        <ion-card-title>Chicken breast</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Chicken breast has a high protein content and is easily absorbed and utilized by the human body. It has the
        effect of enhancing physical strength and strengthening the body.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/lunch3.svg" alt="lunch-img">
        <ion-card-title>Multigrain rice</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Multigrain rice is easy to cook and rich in nutrition. Not only does it have a good effect on tonifying the
        kidney and activating blood, it also has the effect of beauty, and women can eat more appropriately.
      </ion-card-content>
    </ion-card>
  </div>


  <app-navbar></app-navbar>


</ion-content>