<ion-content>
  <ion-slides pager="true">
    <ion-slide>
        <img src="../../assets/image/teaching/Tutorial1.svg" />
    </ion-slide>

    <ion-slide>
      <img src="../../assets/image/teaching/Tutorial2.svg" />
    </ion-slide>

    <ion-slide>
      <img src="../../assets/image/teaching/Tutorial3.svg" />
    </ion-slide>

    <ion-slide>
      <img src="../../assets/image/teaching/Tutorial5.svg" />
      <div id="teach_last">
        <ion-button [routerLink]="['/login']">Get Start</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>