.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.setting {
    position: relative;
    top: 50px;
    left: 350px;
    width: 30px;
    height: 30px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.records {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

}

.total-hours,
.workout-days,
.total-points {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.hours, .days, .points {
    font-size: large;
    font-weight: bolder;
}

.achievements-container {
    border-radius: 25px;
    height: 150px;
    background-color: white;

}

.achievements,
.suggestions {
    margin: 2.5%;
    margin-top: 0;
}

.suggestions {
    margin-bottom: 80px;
}

.title {
    font-weight: bold;
    font-size: 150%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;
}

.achievement {
    width: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8px;
    padding: 5px;
    text-align: center;
}

.achievement-name {
    margin: 1px;
}

.logout_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout_button {
    width: 300px;
    height: 36px;
    margin-bottom: 100px;
    font-size: large;
}