<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <div>
    <ion-icon name="settings-outline" class="setting" [routerLink]="['/setting']"></ion-icon>
  </div>

  <div class="avatar-container">
    <img src="assets/image/element/avatar.svg" alt="avatar" class="avatar">
    <div class="user-id">User id</div>
  </div>

  <div class="records">
    <div class="total-hours">
      <div class="info">Total Hours</div>
      <div id="hours"> 10</div>
    </div>

    <div class="workout-days">
      <div class="info">Workout days</div>
      <div id="days"> 20</div>
    </div>

    <div class="total-points">
      <div class="info">Total Points</div>
      <div id="points"> 1000</div>
    </div>
  </div>

  <div class="achievements">
    <p class="title">Achievements</p>
    <div class="achievements-container" [routerLink]="['/achievement-page']">
      <div class="container">
        <div class="achievement">
          <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
          <div class="achievement-name">Upload data once</div>
        </div>
        <div class="achievement">
          <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
          <div class="achievement-name">Do a workout</div>
        </div>
        <div class="achievement">
          <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
          <div class="achievement-name">Set a goal</div>
        </div>
        <div class="achievement">
          <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
          <div class="achievement-name">Enter the leaderboard</div>
        </div>
      </div>
    </div>
  </div>

  <div class="suggestions">
    <p class="title">Meal suggestions</p>
    <app-suggestions></app-suggestions>
  </div>
  <app-navbar></app-navbar>

</ion-content>