<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <div>
    <ion-icon name="settings-outline" class="setting" [routerLink]="['/setting']"></ion-icon>
  </div>

  <div class="avatar-container">
    <img src="{{userProfile.avatar}}" alt="avatar" class="avatar">
    <div class="user-id">{{userProfile.uname}}</div>
  </div>

  <div class="records">
    <div class="total-hours">
      <div class="info">Calories Burned</div>
      <div class="hours"> {{userProfile.calories}}</div>
    </div>

    <div class="workout-days">
      <div class="info">My Weight Goal</div>
      <div class="days"> {{userProfile.goal}}</div>
    </div>

    <div class="total-points">
      <div class="info">Current Weight</div>
      <div class="points"> {{userProfile.weight}}</div>
    </div>
  </div>

  <div class="achievements">
    <p class="title">Achievements</p>
    <div class="achievements-container" [routerLink]="['/achievement-page']">
      <div class="container">
        <div class="achievement">
          <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
          <div class="achievement-name">Upload data once</div>
        </div>
        <div class="achievement">
          <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
          <div class="achievement-name">Do a workout</div>
        </div>
        <div class="achievement">
          <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
          <div class="achievement-name">Set a goal</div>
        </div>
        <div class="achievement">
          <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
          <div class="achievement-name">Enter the leaderboard</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="suggestions">
    <p class="title">Meal suggestions</p>
    <app-suggestions></app-suggestions>
  </div>

  <ion-button id="logout_button" (click)="logOut()">
    log out
  </ion-button>

</ion-content>

<app-navbar></app-navbar>