<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <app-back></app-back>


  <div class="title">Breakfast</div>

  <div class="cards">
    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/breakfast1.svg" alt="breakfast-img">
        <ion-card-title>Avocado sandwich</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Sandwiches have high nutritional value and are rich in high-quality fat, protein and vitamins, which can
        supplement the energy needed by the human body.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/breakfast2.svg" alt="breakfast-img">
        <ion-card-title>Coffee and apple</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Apples and coffee are a classic breakfast combo and a great accompaniment to diet foods. Caffeine is good for
        concentration, suppresses appetite, and boosts exercise, all of which help your metabolism.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/breakfast3.svg" alt="breakfast-img">
        <ion-card-title>Oat yogurt</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Oat yogurt is very rich in plant cellulose, protein and amino acids. After ingesting the body, it can
        effectively
        promote intestinal peristalsis and improve constipation.
      </ion-card-content>
    </ion-card>
  </div>


  <app-navbar></app-navbar>


</ion-content>