<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <div class="container">
    <div class="title">Your daily intake</div>
    <div class="kcal">{{totalK}} kcal</div>
    <div id="cal"></div>
    <div class="title">Caluculate your calorie intake!</div>

    <div class="container2">
      <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
        <div class="elements">
          <div class="title2">Food name</div>
          <ion-item lines="none" class="form-time">
            <ion-input formControlName="foodName" class="inputClass" type="text" placeholder=" ex: apple" required>
            </ion-input>
          </ion-item>
        </div>

        <div class="elements">
          <div class="title2">Intake(g)</div>
          <ion-item lines="none" class="form-cal">
            <ion-input formControlName="intake" class="inputClass" type="number" placeholder=" ex: 500" required>
            </ion-input>
          </ion-item>
        </div>

        <div class="elements">
          <!-- <input type="submit" value="confirm" id="confirm-button" (click)="sendApiRequest()"> -->
          <ion-button class="but" type="submit" expend="block">NEXT</ion-button>
        </div>
      </form>
    </div>
  </div>
  <div class="popup">
    <p class="form-group">Your calorie intake is <span style="color:#527509" id="result"></span> kcal </p>
  </div>
</ion-content>
<app-navbar></app-navbar>