.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.switch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:85%;
    z-index: 1;
  }

.signup2_word{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup2_title{
    position: absolute;
    font-size: 30px;
    font-weight:900;
    top:15%;
}

.signup3_goal{
    position: absolute;
    font-size: 20px;
    top: 23%;
}

.signup3_diet{
    position: absolute;
    font-size: 20px;
    top: 45%;
}

.signup3_allergy{
    position: absolute;
    font-size: 20px;
    bottom: 32%;
}

.firstpage_button{
    position: absolute;
    bottom: 8%;
    flex: 1;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .firstpage_button1{
    border-left: 100px solid;
    border-right: 100px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-radius: 18px;
    font-size: large;
    background: #F19D6E;
    border-color: #F19D6E;
    color: white;
    font-weight: bold;
  }

  ion-input{
    margin: 0;
    border-radius: 10px !important;
    font-size: 40px;
    border: 1px solid #000000 !important;
    --background: #E6E6E6 !important;
    max-width: 15rem;
    height: 5.5rem;
    text-align: center;
  }

  .itemformkg{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .goalInput{
    position: absolute;
    top: 30%;
  }

  .dietaryitem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F19D6E;

  }