<form [formGroup]="this.user_profileService.userForm" (ngSubmit)="onSubmit()">
  <app-bg></app-bg>
  <div class="switch">
    <img [routerLink]="['/signup2']" src="../../assets/image/signup_login/page_switch_arrow.svg" alt="">
    <img src="../../assets/image/signup_login/page_switch_on.svg" alt="">
    <img src="../../assets/image/signup_login/page_switch_on.svg" alt="">
    <img src="../../assets/image/signup_login/page_switch_on.svg" alt="">
  </div>
  <div class="signup2_word">
    <div class="signup2_title">May I have your info?</div>

    <div class="signup3_goal">YOUR GOAL?</div>

    <div class="itemformkg">
      <ion-input formControlName="goal" class ="goalInput" type="number" placeholder="KG" required [(ngModel)]="this.user_profileService.userProfile.goal"></ion-input>
    </div>

  <div class="firstpage_button">
    <ion-button type="submit" class="firstpage_button1" [routerLink]="['/teaching']">FINISH</ion-button>
  </div>
  </div>
</form>