.login_person{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  #login_img_person{
    transform: translateY(80px);
    width: 85%;
  }

  #login_img_back_arrow{
    position: absolute;
    top:6%;
    left: 5%;
    z-index: 1;
  }

  .login_content{
    overflow: scroll;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .login_title{
    font-size: 40px;
    font-weight:800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #login_input_inside{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .forgot_password_button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }

  .forgot_password_button_inside{
    color: #0085FF;
  }

  .firstpage_button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .firstpage_button1{
    width: 300px;
    height: 36px;
    font-size: large; 
    color: white;
    font-weight: bold;
    --background:#F19D6E;
    --background-focused: none !important;
    --background-hover: none !important;
  }

  hr{
    background-color: gray;
  }

  .or_word{
    display: flex;
    color: gray;
    align-items: center;
    width: 100%;
  }

  .google_button{
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #google_button_word{
    color: gray !important;
  }

  .bottom_word{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 12px;
  }

  ion-button {
    --background-activated: none;
  }