<div class="firstpage">
    <img id="img_circle"src="../../assets/image/signup_login/background.svg" alt="">
    <div class="firstpage_person">
        <img id="img_person" src="../../assets/image/signup_login/firstpage_person.svg" alt="">
    </div>
    <div class="firstpage_word">
    <div class="firstpage_title">Lets Work For Being Slim</div>
    <br>
    <div class="firstpage_p">Getting tired of being a BIG GUY?</div>
    <div class="firstpage_p">We Strive Together</div>
    </div>
    <div class="firstpage_button">
        <div class="firstpage_button1">LOGIN</div>
        <div class="firstpage_button2">SIGNUP</div>
    </div>
</div>