
.firstpage_person{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#img_person{
    transform: translateY(-30px);
    width: 85%;
}

#img_circle{
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
}