<ion-content class="body">
  <app-bg></app-bg>
  <app-back></app-back>

  <div class="container">
    <div class="title">HEIGHT</div>
    <ion-item lines="none" class="itemformcm">
      <ion-input class="inputClass" type="number" placeholder="CM" required></ion-input>
    </ion-item>

    <div class="title">WEIGHT</div>
    <ion-item lines="none" class="itemformkg">
      <ion-input class="inputClass" type="number" placeholder="KG" required></ion-input>
    </ion-item>
  </div>

  <div class="firstpage_button">
    <div class="firstpage_button1" [routerLink]="['/my']">DONE</div>
  </div>

</ion-content>