<ion-content>
  <app-bg-interfaces></app-bg-interfaces>
  <div class="title">
    <!-- <div class="tittle"> -->
    <br>
    <br>
    <b><span class="p">BURN IT UP</span></b>
    <!-- </div> -->
    <br>
    <br>
    <div class="body">
      <div class="h_title">
        <b><span>CONGRAT</span></b>
      </div>
      <div class="pic">
        <img src="../../assets/image/dashboard/undraw_celebrating_rtuv 1.svg" alt="" class="img_pic">
      </div>
      <div class="f_title">
        <b><span>You Have finished the exercise</span></b>
      </div>
      <div class="a_title">
        <b><span>{{calories}} Calories burns</span></b>
        <br>
        <b><span>Active minute + {{time}}mins</span></b>
      </div>
      <div class="a_btn">
        <br>
        <ion-button expand="block" class="b_btn" color="secondary">Block Button</ion-button>

      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</ion-content>
