// .title{
    
// }
.p{
    font-size: 45px;
    margin-top: 50px;
    margin-left: 40px;
}
.tittle{
    width: 100%;
    height: 50px;
   
}
.body{
    width: 90%;
    margin-left: 20px;
    height: 500px;
    background: white;
    border-radius: 20px;
}
.h_title{
    width: 100%;
    height: 50px;
    // background: red;
    margin-top: 25px;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.pic{
    width: 100%;
    height: 150px;
    // background-color: red;
    float: left;
}
.img_pic{
    position: relative;
    top: 0px;
    left: 120px;
    // width: 250px;
    height: 150px;
}
.f_title{
    width: 100%;
    height: 100px;
    // background: blue;
    float: left;
    font-size: 30px;
    text-align: center;
    // margin-top: 10px;
    padding-top: 10px;
    // line-height: 100px;
}
.a_title{
    width: 100%;
    height: 80px;
    // background: red;
    color: rgb(66, 189, 148);
    float: left;
    font-size: 20px;
    text-align: center;
    // margin-top: 10px;
    padding-top: 15px;
    // line-height: 100px;
}
.a_btn{
    width: 100%;
    float: left;
    text-align: center;
    float: left;
}
.b_btn{
    margin-left: 35px;
    width: 80%;
    // background-color: red;
    // background-color: red;
    // background-color: rgb(119, 119, 24);
    // margin-top: 50px;
}
.button-inner{
    background-color: rgb(168, 168, 61);
}