.privacy_body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.privacy_title{
    position: absolute;
    top: 8%;
    left: 10%;
    font-size: 30px;
    font-weight: 500;
}

.privacy_subtitle{
    position: absolute;
    top: 13%;
    left: 10%;
}

.headerline{
    position: absolute;
    top: 13%;
}

.content_contanier{
    max-height: 80%;
}

.inside_word{
    margin-left: 8%;
    margin-right: 8%;
}

.top_all_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accept_button{
    margin-bottom: 5%;
    border-left: 25px solid;
    border-right: 25px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-radius: 18px;
    font-size: large;
    background: #F19D6E;
    border-color: #F19D6E;
    color: white;
    font-weight: bold;
    padding:4px;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
}

.top_button, .down_button{
    margin-bottom: 5%;
    border-style: solid;
    border-width:2px;
    border-radius: 18px;
    border-color:#F19D6E;
    font-size: large;
    background: white;
    color: #F19D6E;
    font-weight: bold;
    padding:13px;
    padding-right: 50px;
    padding-left: 50px;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
}

/* width */
::-webkit-scrollbar {
    width: 10px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333 !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #111 !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111 !important;
  }

