.signup2_word{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup2_title{
    position: absolute;
    font-size: 30px;
    font-weight:900;
    top:15%;
}

.signup2_gender{
    position: absolute;
    font-size: 20px;
    top: 23%;
}

.signup2_height{
    position: absolute;
    font-size: 20px;
    top: 45%;
}

.signup2_weight{
    position: absolute;
    font-size: 20px;
    bottom: 32%;
}

.signup2_gender_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:30%;
}

.firstpage_button{
    position: absolute;
    bottom: 8%;
    flex: 1;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }

  .firstpage_button1{
    border-left: 100px solid;
    border-right: 100px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-radius: 18px;
    font-size: large;
    background: #F19D6E;
    border-color: #F19D6E;
    color: white;
    font-weight: bold;
    --background:none;
    --background-activated:none;
  }

  .switch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:85%;
    z-index: 1;
  }

  .itemformcm{
    position: absolute;
    right:0;
    left:15%;
    top:52%;
    bottom:0;
  }

  .itemformkg{
    position: absolute;
    right:0;
    left:15%;
    top:72%;
    bottom:0;
  }

  ion-input{
    border-radius: 10px !important;
    padding-right: 30px;
    font-size: 40px;
    border: 1px solid #000000 !important;
    --background: #E6E6E6 !important;
    max-width: 15rem;
    height: 5.5rem;
    text-align: center;
  }
 
  .genderbtn{
    height: 10em;
    width: 10em;
    padding: none;
    margin: none;
    --background:none;
  }