<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <app-back></app-back>


  <div class="title">Snack</div>

  <div class="cards">
    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/snack1.svg" alt="snack-img">
        <ion-card-title>Almond and walnut</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Almonds and walnuts are rich in monounsaturated fatty acids, which are good for heart health.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/snack2.svg" alt="snack-img">
        <ion-card-title>Banana</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Bananas are rich in sugar and sodium, which can quickly replenish energy, quickly eliminate fatigue and hunger,
        and are suitable for consumption after fitness.

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/snack3.svg" alt="snack-img">
        <ion-card-title>Jerky</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Beef is rich in protein, and its amino acid composition is closer to human needs than pork, which can improve
        the body's disease resistance and greatly help growth and development.
      </ion-card-content>
    </ion-card>
  </div>


  <app-navbar></app-navbar>


</ion-content>