.signup_person{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  #signup_img_person{
    transform: translateY(90px);
    width: 85%;
  }
  
  .signup_title{
    font-size: 40px;
    font-weight:800;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .signup_input{
    position: absolute;
    bottom: 22%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #signup_input_inside{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .firstpage_button{
    position: absolute;
    bottom: 8%;
    flex: 1;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .firstpage_button1{
    border-left: 100px solid;
    border-right: 100px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-radius: 18px;
    font-size: large;
    background: #F19D6E;
    border-color: #F19D6E;
    color: white;
    font-weight: bold;
  }

  .bottom_word{
    position: absolute;
    bottom: 18%;
    left: 10%;
    right: 10%;
    color: gray;
    font-size: 12px;
  }

  .switch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:85%;
  }
