<ion-content>
  <app-bg-interfaces></app-bg-interfaces>
  <!-- <div class="title">
      <br>
      <div class="header">
        <div class="h_png">
            
            <img src="../../assets/image/dashboard/Ellipse 3.svg" alt="" class="img">
        </div>
        <div class="ipt">
            <input type="text" class="iipt">
        </div>
    </div>

        <div class="card">
            <div class="a_title">
              <b><span class="span1">FRIENDS</span></b>
            </div>
           
            <div class="png_head">
              <div class="img_h">
                  
              </div>
              <div class="text_h">
                  <b><span>Jacob Jones</span></b>
              </div>
            </div>
            
            <div class="png_head">
              <div class="img_h">
                  
              </div>
              <div class="text_h">
                  <b><span>Jacob Jones</span></b>
              </div>
            </div>

            <div class="png_head">
              <div class="img_h">
                  
              </div>
              <div class="text_h">
                  <b><span>Jacob Jones</span></b>
              </div>
            </div>

            <div class="png_head">
              <div class="img_h">
                  
              </div>
              <div class="text_h">
                  <b><span>Jacob Jones</span></b>
              </div>
            </div>
        </div>

    </div> -->

  <ion-list>
    <ion-item *ngFor="let friend of Friends">
      <ion-label>
        <h2>{{friend.user_id}}</h2>
        <h3>{{friend.friend_id}}</h3>

      </ion-label>


    </ion-item>
  </ion-list>

  <app-navbar></app-navbar>
</ion-content>