.header{
    display: flex;
}

.h_png{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 20px;
}

.ipt{
    width: 14rem;
    height: 4.5rem;
    margin-left: 25px;
}

.iipt{
    margin-top: 60px;
    width: 90%;
    height: 50%;
    border-radius: 40px;
}

.card {
    width: 90%;
    height: 100%;
    //height: 540px;
    margin-left: 15px;
    background: white;
    border-radius: 20px;
    margin-top: 20px;
}

.a_title{
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 20px;
    font-size: 30px;
    line-height: 50px;
}

.span1{
    margin-left: 40px;
}

.png_head{
    margin-top: 10px;
    float: left;
    width: 80%;
    height: 100px;
    margin-left: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    background-color: white;
    border-radius: 20px;
}

.img_h{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
}

.text_h{
    float: right;
    width: 160px;
    height: 60px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #cccccc;
}