<ion-content>
  <app-bg-interfaces></app-bg-interfaces>
  <div class="title">
    <div class="video">
      <video src="../../assets/{{tutorial.videoUrl}}" width=100%; height=100%; autoplay="autoplay"
             controls="controls"></video>
    </div>
    <div class="btn">
      <button class="btnn" (click)="goToExerciseFinishPage()">Finished</button>
    </div>
    <div class="text">
      <b><span>User exercising</span></b>
    </div>
    <div *ngFor="let audience of audiences;" class="ren1" id="ren1" (click)="fun(audience)">
      <div class="r_img">
        <img src="{{audience.avatar}}">
      </div>
      <div class="r_div1"><span>{{audience.uname}}</span></div>
      <div class="r_div2"><b>{{audience.calories}}KCAL</b></div>
    </div>
    <div class="z" [style.display]='xian'>
      <div class="x" (click)="fun1()">
        X
      </div>
      <div class="z_img">
        <img src="{{audience.avatar}}">
      </div>
      <div class="z_text">
        {{audience.uname}}
      </div>
      <div class="bb">
        <div>
          <b><span>Total Hours</span></b>
          <br>
          <b><span>330</span></b>
        </div>
        <div>
          <b><span>Workout Days</span></b>
          <br>
          <b><span>450</span></b>
        </div>
        <div>
          <b><span>Total Points</span></b>
          <br>
          <b><span>24000</span></b>
        </div>

      </div>
      <div>
        <ion-button *ngIf="!friends.includes(audience._id)" expand="block" color="warning" class="bbbtn"
                    (click)="addFriend(audience._id)">add friends
        </ion-button>
        <ion-button *ngIf="friends.includes(audience._id)" expand="block" color="warning" class="bbbtn" disabled="true">
          {{audience.uname}} is your friend
        </ion-button>
      </div>
    </div>
    <div style="margin-top:10rem">
      <app-navbar></app-navbar>
    </div>
  </div>


</ion-content>