<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <app-back></app-back>


  <div class="title">Dinner</div>

  <div class="cards">
    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/dinner1.svg" alt="dinner-img">
        <ion-card-title>Sweet potato</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Sweet potato has very little fat content but is very rich in unsaturated fatty acids, which can prevent the
        absorption of fat and cholesterol in the intestine, decompose cholesterol in the body, and promote lipid
        metabolism.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/dinner2.svg" alt="dinner-img">
        <ion-card-title>Salad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Salads are mainly based on fresh vegetables or fruits, which are rich in various vitamins.

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img src="assets/image/meal/dinner3.svg" alt="dinner-img">
        <ion-card-title>Beans</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Beans are rich in protein, can reduce fat content and increase immunity.
      </ion-card-content>
    </ion-card>
  </div>


  <app-navbar></app-navbar>


</ion-content>