<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <app-back></app-back>

  <div class="header">Set your goals</div>
  <div class="container">


    <div class="elements">
      <div class="title">Workout Time</div>
      <ion-item lines="none" class="form-time">
        <ion-input class="inputClass" type="number" placeholder="minutes" required></ion-input>
      </ion-item>
    </div>

    <div class="elements">
      <div class="title">Calorie Consumption</div>
      <ion-item lines="none" class="form-cal">
        <ion-input class="inputClass" type="number" placeholder="kcal" required></ion-input>
      </ion-item>
    </div>

    <div class="elements">
      <input type="submit" value="confirm" id="confirm-button">
    </div>


  </div>


  <app-navbar></app-navbar>





</ion-content>