.icon11{
    position: absolute;
}
.imgx{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.left_p {
    width: 45%;
    height: 85%;
    border-radius: 20px;
}   
.right_p {
    width: 45%;
    height: 85%;
    /* background: red; */
}
.Journalism {
    width: 100%;
    height: 25%;
    /* background-color: blue; */
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.header_x{
    width: 80%;
    position: relative;
    top: 10px;
    left: 10px;
}
.foter{
    width: 90%;
    margin-left: 15px;
    height: 22rem;
    background: white;
    border-radius: 20px;
}
.body{
    width: 100%;
    height: 844px;
    background-color: #cccccc;
}
.img2 {
    width: 100%;
    height: 100%;
}
.div2{
    width: 100%;
    height: 70%;
    /* background: red; */
}
.ddd{
    width: 100px;
    height: 140px;
    margin-top: 10px;
    /* background-color: blue; */
    border-radius: 10px;
    text-align: center;
}
.Hhead{
    width: 80%;
    height: 25px;
    
    /* margin-top: 20px; */
    position: absolute;
    top: 130px;
    left: 20px;
    /* background-color: white; */
}
.ASYNC{
    width: 90%;
    margin-left: 15px;
    height: 13rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.h1{
    margin-left: 5%;
    /* background-image: linear-gradient(to right, red , blue) */
    background: linear-gradient(to right,red, green);
background-clip: text;
-o-background-clip: text;
-ms-background-clip: text;
-moz-background-clip: text;
-webkit-background-clip: text;    
color: transparent;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.header{
    /* background-color: salmon; */
    /* margin-top: 2rem; */
    display: flex;
}
.h_png{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    /* background-color: red; */
    margin-left: 10px;
}
.ipt{
    
    width: 14rem;
    height: 4.5rem;
    /* background-color: blue; */
    margin-left: 25px;

    /* border-radius: 30%; */
}
.iipt{
    margin-top: 20px;
    width: 90%;
    height: 50%;
    border-radius: 40px;

}
