<ion-content>
  <app-bg-interfaces></app-bg-interfaces>
  <div class="body">
    <div class="header">
      <div class="h_png">
        <img src="{{userProfile.avatar}}" alt="" class="img">
      </div>
      <div class="ipt">
        <input [(ngModel)]="keywords" (keyup)='searchTutorials($event)' type="text" class="iipt">
      </div>
    </div>
    <!-- <br> -->
    <h1 class="h1">HELLO , {{userProfile.uname}}  </h1>
    <div class="ASYNC">
      <div class="Hhead">
        <h2>&emsp;LIVES WORKOUT</h2>
        <br>

      </div>
      <br/>
      <div class="ddd" *ngFor="let tutorial of tutorialsByKeyword;">
        <div class="div2">
          <!-- 里面放图 -->
          <img src="../../assets/{{tutorial.smallImageUrl}}" alt="" class="img2">
        </div>
        <span class="span">{{tutorial.name}}</span>
      </div>
<!--      <div class="ddd">-->
<!--        <div class="div2">-->
<!--          &lt;!&ndash; 里面放图 &ndash;&gt;-->
<!--          <img src="../../assets/image/dashboard/Rectangle 30.svg" alt="" class="img2">-->
<!--        </div>-->
<!--        <span class="span">asasdsa</span>-->
<!--      </div>-->
<!--      <div class="ddd">-->
<!--        <div class="div2">-->
<!--          &lt;!&ndash; 里面放图 &ndash;&gt;-->
<!--          <img src="../../assets/image/dashboard/Rectangle 31.svg" alt="" class="img2">-->
<!--        </div>-->
<!--        <span class="span">asasdsa</span>-->
<!--      </div>-->
    </div>

    <br>
    <br>
    <div class="foter">

      <div class="header_x">
        <h2>&emsp;LIVES WORKOUT</h2>
      </div>
      <div *ngFor="let tutorial of tutorials;" class="Journalism">
        <div class="left_p">
          <img src="../../assets/{{tutorial.bigImageUrl}}" (click)="goToTutorialDetails(tutorial)" alt="" class="imgx">
        </div>
        <div class="right_p">
          <span>{{tutorial.name}}</span>
          <br>
          <img src="" alt=""><span>{{tutorial.coach}}</span>
          <br>
          <img src="" alt=""><span>{{tutorial.time}} min</span>
        </div>
      </div>
      <br>
    </div>
  </div>

  <app-navbar></app-navbar>
</ion-content>
    
     