<ion-card>
  <ion-card-header>
    <img src="assets/image/suggestions/breakfast.svg" alt="breakfast-img">
    <ion-card-title>Breakfast</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-button fill="outline" slot="end" [routerLink]="['/breakfast']">See more</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-card-header>
    <img src="assets/image/suggestions/lunch.svg" alt="lunch-img">
    <ion-card-title>Lunch</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-button fill="outline" slot="end" [routerLink]="['/lunch']">See more</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-card-header>
    <img src="assets/image/suggestions/dinner.svg" alt="dinner-img">
    <ion-card-title>Dinner</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-button fill="outline" slot="end" [routerLink]="['/dinner']">See more</ion-button>
  </ion-item>
</ion-card>

<ion-card>
  <ion-card-header>
    <img src="assets/image/suggestions/snack.svg" alt="snack-img">
    <ion-card-title>Snack</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-button fill="outline" slot="end" [routerLink]="['/snack']">See more</ion-button>
  </ion-item>
</ion-card>