<ion-content>
  <app-bg-interfaces></app-bg-interfaces>
  <div>
    <div class="header">
      <div class="ipt">
        <input type="text" class="iipt">
      </div>
    </div>
    <br>
    <br>
    <div class="body_h">
      <div class="B_h1">
        <h1 class="h1">EXERCISE</h1>
      </div>
      <br>
      <br>
      <div class="adio">
        <!-- 视频预览 -->
        <img src="../../assets/{{tutorial.bigImageUrl}}" width=100%; height=100%;>
      </div>
      <div class="play_button">
        <img src="../../assets/image/element/play_button.png"
             (click)="goToExerciseLivePage()">
      </div>
      <!-- <br> -->

      <div class="text">
        <br>
        <ul>
          <li>Coach: {{tutorial.coach}} </li>
          <li>Time: {{tutorial.time}} mins</li>
          <li>Est.Calories: {{tutorial.calories}}</li>
        </ul>
      </div>
      <br>
      <div class="text2">
        <span>Please wear your device and follow </span>
        <span>the coach to finish your exercise</span>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</ion-content>
