<ion-content>
  <app-bg-interfaces></app-bg-interfaces>
  <div>
    <div class="header">
        <div class="ipt">
            <input type="text" class="iipt">
        </div>
    </div>
    <br>
    <br>
    <div class="body_h">
       <div class="B_h1">
        <h1 class="h1">EXERCISE</h1>
       </div>
       <br>
       <br>
       <div class="adio">
        <!-- 视频 -->
      <video src="/">   video </video>

       </div>
       <!-- <br> -->

       <div class="text">
        <br>
            <ul>
                <li>ADSADDA</li>
                <li>ADSADDA</li>
                <li>ADSADDA</li>
            </ul>
       </div>
       <br>
       <div class="text2">
                <span>sfghjkldsadsadsadsadasd</span>
                <span>sfghjkldsadsadsadsadasd</span>
            <!-- 这块区域留着写字 -->
       </div>
       <div class="btn" [routerLink]="['../dashboard-exercise-finished']" >
            <button class="btnn">Done</button>
       </div>
    </div>
</div>
<app-navbar></app-navbar>
</ion-content>
