.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 120px;
    overflow: hidden;
}

.achievement {
    width: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    margin: 7px;
    text-align: center;
}