<div class="container">
  <div class="achievement">
    <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
    <div class="achievement-name">Upload data once</div>
  </div>
  <div class="achievement">
    <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
    <div class="achievement-name">Do a workout</div>
  </div>
  <div class="achievement">
    <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
    <div class="achievement-name">Set a goal</div>
  </div>
  <div class="achievement">
    <img src="assets/image/element/image 2.svg" alt="achievement" class="achievement-img">
    <div class="achievement-name">Enter the leaderboard</div>
  </div>

</div>