.foter {
    width: 90%;
    margin-left: 15px;
    background: white;
    border-radius: 20px;
    padding-top: 20px;
}

.Journalism {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.video {
    border: 20px;
}