<ion-content class="body">
  <app-bg-interfaces></app-bg-interfaces>
  <app-back></app-back>
  <div class="calendar">
    <ion-datetime #datetime>
      <span slot="title">Plan your workout</span>
      <ion-buttons slot="buttons">
        <ion-button color="danger" (click)="datetime.reset()">Reset</ion-button>
        <ion-button color="primary" (click)="datetime.confirm()" [routerLink]="['/set-goal']">Plan</ion-button>
      </ion-buttons>
    </ion-datetime>
  </div>

  <div class="record">
    <div class="time">
      <p>Workout time</p>
      <div id="time-cal"> 20/30 min</div>
    </div>
    <div class="caloris">
      <p>Calorie Consumption</p>
      <div id="caloris-cal"> 450/600 KCAL</div>
    </div>
    <div class="step">
      <p>Steps</p>
      <div id="step-cal"> 2468</div>
    </div>
  </div>

  <div class="suggestions">
    <p class="title">Workout for today</p>
    <div class="viedos">
      <app-videos></app-videos>
    </div>

  </div>

  <app-navbar></app-navbar>
</ion-content>